@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* primary styles */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}